In [1]:
#import das libs
import pandas as pd

In [2]:
#importando arquivos do drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#declarando diretório principal
ROOT_DATA_PATH = "drive/MyDrive/data/"

In [4]:
#lendo arquivo movies.csv informando o separador
m_df = pd.read_csv(f'{ROOT_DATA_PATH}/movies.csv', sep=';')
#limpando linhas com valor invalido se existir
m_df.dropna()
m_df.head()

   1               (Dinosaur Planet, 2003)
0  2    (Isle of Man TT 2004 Review, 2004)
1  3                     (Character, 1997)
2  4  (Paula Abdul's Get Up & Dance, 1994)
3  5      (The Rise and Fall of ECW, 2004)
4  6                          (Sick, 1997)

In [5]:
#setando os nomes das colnas
nomes_colunas = ['Movie_Id', 'Title_Year']
m_df.columns = nomes_colunas
m_df

      Movie_Id                                         Title_Year
0            2                 (Isle of Man TT 2004 Review, 2004)
1            3                                  (Character, 1997)
2            4               (Paula Abdul's Get Up & Dance, 1994)
3            5                   (The Rise and Fall of ECW, 2004)
4            6                                       (Sick, 1997)
...        ...                                                ...
4493      4495  (Clifford: Happy Birthday Clifford / Puppy Lov...
4494      4496                      (Farewell My Concubine, 1993)
4495      4497                                 (Texasville, 1990)
4496      4498                                      (Gonin, 2000)
4497      4499                                 (In My Skin, 2002)

[4498 rows x 2 columns]

In [6]:
#lendo o arqivo customers_rating.csv informando q tem cabecalho e o separador
cr_df = pd.read_csv(f'{ROOT_DATA_PATH}/customers_rating.csv',header=0, sep=';')
#limpando linhas com valor invalido se existir
cr_df.dropna()
cr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24053764 entries, 0 to 24053763
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   Cust_Id   int64
 1   Rating    float64
 2   Date      object
 3   Movie_Id  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 734.1+ MB

##Entregáveis

1. Jupyter Notebook ou arquivo Python que responda as seguintes perguntas:

In [7]:
# 1.1. Quantos filmes estão disponíveis no dataset?

#pegando qtds dos IDs dos filmes de forma unica
qtd_filmes = m_df['Movie_Id'].nunique()
print(f"O número de filmes disponíveis no dataset é {qtd_filmes}.")

O número de filmes disponíveis no dataset é 4498.

In [8]:
#1.2. Qual é o nome dos 5 filmes com melhor média de avaliação?

# Mesclando os dataframes
merged_df = pd.merge(cr_df, m_df, on='Movie_Id')

# Calculando a média de avaliação para cada filme
mean_ratings = merged_df.groupby(['Movie_Id'])['Rating'].mean()

# Ordenando os filmes com base na média de avaliações
sorted_ratings = mean_ratings.sort_values(ascending=False)

# Obtendo os 5 primeiros filmes com a melhor média de avaliação
top_5_movies = pd.merge(sorted_ratings, m_df, on='Movie_Id').head(5)

print("Os 5 filmes com a melhor média de avaliação são:")
print(top_5_movies)

Os 5 filmes com a melhor média de avaliação são:
   Movie_Id    Rating                                         Title_Year
0      3456  4.670989                             (Lost: Season 1, 2004)
1      3033  4.586364  (Ghost in the Shell: Stand Alone Complex: 2nd ...
2      2102  4.581296                     (The Simpsons: Season 6, 1994)
3      4238  4.554434                                  (Inu-Yasha, 2000)
4        13  4.552000  (Lord of the Rings: The Return of the King: Ex...

In [9]:
#1.3. Quais os 9 anos com menos lançamentos de filmes?

# Extraindo o ano de lançamento a partir da coluna 'título e ano de lançamento'
m_df['Year'] = m_df['Title_Year'].str[-5:-1]

# Contando o número de lançamentos por ano
count_per_year = m_df['Year'].value_counts()

# Ordenando os anos com base no número de lançamentos
sorted_years = count_per_year.sort_values()

# Obtendo os 9 anos com menos lançamentos de filmes
bottom_9_years = sorted_years.head(9)

print("Os 9 anos com menos lançamentos de filmes são:")
print(bottom_9_years)

Os 9 anos com menos lançamentos de filmes são:
1917    1
1922    1
1926    1
1915    1
1924    2
1916    2
1931    2
1918    2
1929    2
Name: Year, dtype: int64

In [10]:
#1.4. Quantos filmes que possuem avaliação maior ou igual a 4.7, considerando apenas os filmes avaliados na última data de avaliação do dataset?

# Convertendo a coluna 'Date' para o formato de data
cr_df['Data'] = pd.to_datetime(cr_df['Date'])

# Encontrando a última data de avaliação
ultima_data = cr_df['Data'].max()

# Filtrando os filmes avaliados na última data de avaliação
filmes_ultima_data = cr_df[cr_df['Data'] == ultima_data]

# Calculando a média das avaliações para cada filme da selecao
media_avaliacoes_por_filme = filmes_ultima_data.groupby('Movie_Id')['Rating'].mean()

# Filtrando os filmes com uma média de avaliação maior ou igual a 4.7
filmes_com_alta_media = media_avaliacoes_por_filme[media_avaliacoes_por_filme >= 4.7]

# Contando o número de filmes com média de avaliação maior ou igual a 4.7
num_filmes_com_alta_media = len(filmes_com_alta_media)

print(f"O número de filmes que possuem média de avaliação maior ou igual a 4.7 no dataset é {num_filmes_com_alta_media}.")

O número de filmes que possuem média de avaliação maior ou igual a 4.7 no dataset é 195.

In [11]:
#1.5. Dos filmes encontrados na questão anterior, quais são os 10 filmes com as piores notas e quais as notas?

# Obtendo os filmes da questão anterior
# Mesclando os dataframes para trazer os nomes dos filmes
filmes_com_nomes = pd.merge(filmes_com_alta_media, m_df, on='Movie_Id')

# Ordenando os filmes com base no rating em ordem ascendente
piores_filmes = filmes_com_nomes.sort_values('Rating').head(10)

# Selecionando apenas as colunas necessárias
piores_filmes = piores_filmes[['Title_Year', 'Rating']]

print("Os 10 filmes com as piores notas e seus nomes são:")
print(piores_filmes)

Os 10 filmes com as piores notas e seus nomes são:
                                  Title_Year    Rating
150                    (Spirited Away, 2002)  4.714286
192  (SpongeBob SquarePants: Season 3, 2002)  4.750000
126    (Absolutely Fabulous: Series 2, 1994)  4.750000
102       (The Twilight Zone: Vol. 41, 1960)  4.750000
94           (Gilmore Girls: Season 3, 2002)  4.750000
161                    (Pete's Dragon, 1977)  4.750000
89       (An Evening With Kevin Smith, 2002)  4.750000
59        (The Twilight Zone: Vol. 15, 1963)  4.750000
33              (In the Mood for Love, 2001)  4.800000
187   (Curb Your Enthusiasm: Season 3, 2002)  4.800000

In [12]:
#1.6. Quais os id's dos 5 customers que mais avaliaram filmes e quantas avaliações cada um fez?

# Obtendo os 5 clientes que mais avaliaram filmes
top_5_customers = cr_df['Cust_Id'].value_counts().head(5)

print("Os 5 clientes que mais avaliaram filmes e suas respectivas contagens de avaliações são:")
print(top_5_customers)

Os 5 clientes que mais avaliaram filmes e suas respectivas contagens de avaliações são:
305344     4467
387418     4422
2439493    4195
1664010    4019
2118461    3769
Name: Cust_Id, dtype: int64